div{
    border: solid rgb(212, 212, 212) 1px;
    border-radius: 12px;
    padding : 0.7em;
    margin : 0.5em;
    width: 38em;
    font-size: 0.8em;
}

h6{
    color : #2991d9;
}

p{
    margin : 0px;
}

@media screen and (max-width: 768px) {
    div{
        width : 20em;
    }
}